.features {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 100%;
  padding: 4rem 2rem;
}

.features h2 {
  margin-bottom: 4rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
}

.ImageSVG {
  height: 100px;
  width: 100px;
}

.RightArrowSVG {
  height: 50px;
  width: 50px;
}
