.features {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin-top: 2rem;
  width: 100%;
  padding: 2rem 0;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
}

.ImageSVG {
  height: 100px;
  width: 100px;
}

.RightArrowSVG {
  height: 50px;
  width: 50px;
}
