.features {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  width: 100%;
  padding: 2rem 2rem;
}

.features h2 {
  margin: 2rem 0;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  color: #607d8b;
}

.features h3 {
  margin: 1rem 0;
}

.features p {
  margin: 1rem 0;
}

.subsection {
  margin: 4rem 0;
}

.subsection img {
  margin: 0 0 1rem;
  border-radius: 15px;
  border: 1px solid #ccc;
}

.trialsection {
  background-color: #cfd8dc;
  border-radius: 15px;
  padding: 2rem;
}

[data-theme="dark"] .trialsection {
  background-color: #37474f;
}

.trybutton {
  margin: 2rem 0;
}

.uploadimg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* 縦中央寄せ */
  margin: 2rem 0;
  height: 400px;
}

.uploadimg img {
  border-radius: 15px;
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain; /* 画像の縦横比を維持したまま、要素の中に収まるようにする */
  margin: 0; /* justify-content: center; がmargin分ズレる挙動を回避 */
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem 0;
  border-radius: 15px;
  background-color: #eeeeee;
  height: 500px;
  overflow-y: auto; /* 縦方向のスクロールバーを有効に */
}

[data-theme="dark"] .result {
  background-color: #1c1e21;
}

.result p {
  font-size: 1.5rem;
}

.empty {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardbase {
  width: 100%;
}

.card {
  width: 80%;
  max-width: 400px;
  padding: 0.5rem 1rem;
  margin: 0.3rem auto;
  font-size: 0.85rem;
  text-align: left;
  cursor: pointer;
}

[data-theme="dark"] .card {
  background-color: #444;
  color: #fff;
}

.question {
  font-family: "system-ui", sans-serif;
}

.answer {
  font-family: "system-ui", sans-serif;
  color: #448aff;
}
